@{
    ViewBag.Title = "Not Foud";
}

<h1>@ViewBag.ErrorMessage</h1>

@*<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QS</h1>*@

<a asp-controller="home" asp-action="index">click here to navigate to the homepage</a>